.corpo-louvor * {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
}

/* remove QUALQUER espaço entre blocos */
.linha-musica {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* cifra */
.acordes {
  color: #00ffcc;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}

/* letra */
.letra {
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}
