body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
  padding: 10px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.suggestions div {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.suggestions div:hover {
  background: #333;
}

.linha {
  margin-bottom: 12px;
}

.acordes {
  color: #00ffcc;
  font-weight: bold;
  font-family: monospace;
}

.letra {
  font-size: 16px;
}

h2 {
  margin-bottom: 15px;
}
